@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 226.32 33.33% 4.71%;   /* #080810 */
    --foreground: 0 0% 98%;
    --card: 224 31.58% 14.71%;           /* #1f203e */
    --card-foreground: 0 0% 98%;
    --popover: 226.32 33.33% 4.71%;      /* #080810 */
    --popover-foreground: 0 0% 98%;
    --primary: 252 100% 50%;             /* Adjusted for Paycasso theme */
    --primary-foreground: 0 0% 98%;
    --secondary: 224 31.58% 14.71%;      /* #1f203e */
    --secondary-foreground: 0 0% 98%;
    --muted: 224 31.58% 14.71%;          /* #1f203e */
    --muted-foreground: 240 5% 64.9%;
    --accent: 224 31.58% 14.71%;         /* #1f203e */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 31.58% 14.71%;         /* #1f203e */
    --input: 224 31.58% 14.71%;          /* #1f203e */
    --ring: 252 100% 50%;                /* Adjusted for Paycasso theme */
  }
}

/* Optional: Add some global dark theme styles */
@layer utilities {
  .bg-dark-gradient {
    @apply bg-gradient-dark;
  }
  
  .bg-dark-gradient-tr {
    @apply bg-gradient-dark-tr;
  }
  
  .bg-dark-gradient-radial {
    @apply bg-gradient-dark-radial;
  }
}

body {
  --dot-bg: #161616;
  --dot-color: #848282;
  --dot-size: 1px;
  --dot-space: 50px;
  background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}